:root {
  --frame-gap: 1rem;
  --inner-gap: 2rem;
  --box-pad: 1.1rem;
  --border-radius: 1.3rem;
  --screen-bg: #777;
  --background-bg: #faf3e7;
  --box-bg: #fff;
}

.outer {
  min-height: 100vh;
  min-width: max(100vw, 400px);
  background: var(--screen-bg);
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding: 1rem;
  box-sizing: border-box;
}

.content {
  max-width: 1600px;
  max-height: 1200px;
  margin: 0 auto;
  background: var(--background-bg);
  border: 1rem solid var(--background-bg);
  border-radius: 1.1em;
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  margin-right: 1rem;
}

/* Main UI boxes */
.characterInfoBox,
.sidebarTop {
  flex: 2 1 0%;
  background: #fff;
  border-radius: 1.1rem;
  margin-bottom: 0.8rem;
  border: 1.2px solid #bbb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  padding: var(--box-pad);
}

.dungeonMapBox,
.sidebarBottom {
  flex: 1 1 0%;
  background: #fff;
  border-radius: 1.1rem;
  border: 1.2px solid #bbb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  padding: var(--box-pad);
}

.mainArea {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.mainContent,
.battleArea {
  flex: 4 1 0%;
  background: #f1f5f9;
  border-radius: 1.1rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  position: relative;
  overflow: visible;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 2.5rem;
  bottom: -2rem;
  max-width: 90%;
  margin: 0 1rem 1rem 28%;
}

.battleLog {
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  color: black;
  border: 1.2px solid #bbb;
  border-radius: 1.1rem;
  padding: var(--box-pad);
  width: 100%;
  z-index: 1;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  
}

.battleLog h2 {
  margin: 0 0 0.5em 0;
  flex-shrink: 1;
}

.battleLog ul {
  margin: 0;
  padding-left: 1.2em;
  overflow-y: auto;
  max-height: 10em;
  /* Adjust as needed */
  flex: 1 1 auto;
  flex-direction: column-reverse;
}

.mainBottom {
  display: flex;
  flex-direction: column;
}

.optionPrompts {
  background: #fff;
  box-shadow: 0 -30px 0 #fff;
  border-radius: 1.1rem;

  padding: 1.1rem 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive: shrink for smaller screens */
@media (max-width: 700px) and (max-height: 400px) {
  :root {
    --frame-gap: 1rem;
    --inner-gap: 0.7rem;
    --box-pad: 0.7rem;
    --border-radius: 0.8rem;
  }

  .characterInfoBox,
  .dungeonMapBox,
  .b3,
  .battleLog {
    padding: 0.3rem;
    font-size: 0.95em;
  }

  .grid {
    padding: var(--inner-gap);
    gap: 0.6rem 0.7rem;
    grid-template-columns: 36% 1fr 32%;
    grid-template-rows: 47% 27% 21%;
  }
}