.characterInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
  font-size: 1.1vw;
}

.charGrid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; /* Top is 1 part, bottom is 1 parts */
  gap: 0.7em;
}

.image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: #e8eaf6;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Optional: padding if you want a gap around the image */
}
.image img {
  width: 100%;
  height: 100%;
  max-width: 1024px; /* or whatever upper limit you want */
  max-height: 1024px;
  object-fit: contain;
  image-rendering: pixelated;
  display: block;
}
.stats {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  color: black;
}
.inventory {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: left;
  align-items: flex-start;   /* top align if needed */
  color: black;
  padding: 0.5rem;
}

/* Inner content container */
.inventoryContent {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;              /* space between items */
}
